$font-circe: "Circe Rounded", sans-serif;

$default: #293244;
$disabled: #44537180;
$disabled-button: #4453711a;
$muted: #a0a9b8;

$surface-1: #ffffff;
$surface-3: #f6f6f8;
$surface-5: #d0d4dc;

$violet-110: #6447cf;

$red-110: #e12828;
$red-050: #fadee0;
$red-030: #fdeeef;

$blue-110: #007ee5;
$blue-100: #45a5f6;
$blue-070: #b5dbfb;
$blue-060: #c7e4fc;
$blue-050: #daedfd;
