@use "variables" as v;
@use "mixins" as m;
@use "typography" as t;

@font-face {
  font-family: "Circe Rounded";
  src: url("../assets/fonts/CirceRounded-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../assets/fonts/CirceRounded-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Circe Rounded", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-color: rgb(230, 230, 230);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  @include t.bold-20;
}
